.footer{
    position:relative;
    height: 2vw;
    width:100%;
    bottom: 0px;
    left: 0px;
    border-top: 5px solid #222;
    background-color: black;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.movie-index .footer-links{
    background-color: #141414;
}


.movie-index .footer{
    background-color: #141414;
    position: absolute;
    top: 2100px;
}

.footer i{
    color: white;
    font-size: 2vw;
    margin: 0.5vw;
}

.footer i:hover{
    color: gray;
}
