.header {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    margin: 0;
    align-items: center;
    z-index:4;
    transition: all 1s linear;
    display: flex;
    align-items: center;
}

.header-trans{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    margin: 0;
    align-items: center;
    z-index:4;
    transition: all 1s linear;
    display: flex;
    align-items: center;
}


.header-left{
    margin-right: auto;
    display: flex;
    align-items: center;
}

.header-right{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-logo{
    position: relative;
    width: 150px;
    height: auto;
    margin-left: 10px;
}






.logout:hover{
    cursor: pointer;
}

.nav-links-container{
    position: relative;
    display: flex;
    margin-left: 10px;
}

.nav-link{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    margin: 8px;
    text-decoration: none;
}

.nav-link:hover{
    color: gray;
}

.search-bar-container{
    display: flex;   
}

.search-bar-container-expanded{
    display: flex;
}

.search-button{
    /* position: absolute; */
    position: relative;
    right: 0;
    transition: all 1s;
    margin-right: 20px;
}

.search-button-expanded{
    /* position: absolute; */
    position: relative;
    /* right: 200px; */
    transition: all 1s;
    margin-right: 20px;
    
}

.search-button:hover{
    cursor: pointer;
}

.search-button-expanded:hover{
    cursor: pointer;
}

.search-input-invisible{
    /* position: absolute; */
    position: relative;
    width:0px;
    right: 0px;
    transition: all 1s;
    background-color :rgba(0, 0, 0, 0);
    z-index: 0;
    border: 0;
    margin-right: 20px;
}

.search-input{
    position: relative;
    width: 160px;
    right: 0px;
    transition: all 1s;
    background-color:rgba(0, 0, 0, 0.75);
    border: 0.5px solid white;
    border-radius: 0px;
    z-index: 5;
    color: white;
    margin-right: 20px;
    outline: none;
}



/*dropdown */

.dropdown-container{
    position: absolute;
    position: absolute;
    top: 40px;
    right: 40px;
    display:none;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 300px;
    transition: all 0.5s;
    
}
.dropdown-button{
    border-radius: 6px;
    width: 35px;
    height: auto;
    margin-right: 45px;
}

.dropdown-button:hover{
    cursor: pointer;
}

.dropdown-button-container:hover .dropdown-container{
    display: flex;
}

.dropdown-menu{
    position: relative;

    top: -20px;
    z-index: 11;
    width: 150px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.75);
    border: 0.5px solid gray
}

.dropdown-logout{
    position: relative;
    top: 70px;
    border-top: 0.5px solid gray;
}

.dropdown-menu li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 10px;
}

.dropdown-menu a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.dropdown-menu .link-text:hover{
    text-decoration: underline;
}

.dropdown-menu .logout:hover{
    text-decoration: underline;
}


.link-text{
    margin-left: 10px;
}

.arrow-up {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
  }

  .dropdown-icon{
      font-size: 1vw;
      width: auto;
      top: 10px;
      text-decoration: none;
  }

  .dropdown-menu li .dropdown-icon:hover{
    text-decoration: none;
    }