.header {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    margin: 0;
    align-items: center;
    z-index:4;
    transition: all 1s linear;
}

.header-trans{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    margin: 0;
    align-items: center;
    z-index:4;
    transition: all 1s linear;
}

.header-logo{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 2%;
    width: 150px;
    height: auto;
}



.logout:hover{
    cursor: pointer;
}

.nav-links-container{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 10%;
    display: flex;
    margin-left: 10px;
}

.nav-link{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    margin: 8px;
    text-decoration: none;
}

.nav-link:hover{
    color: gray;
}

.search-bar-container{
    display: flex;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translatey(-50%);
    
}

.search-bar-container-expanded{
    display: flex;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translatey(-50%);
    
}

.search-button{
    position: absolute;
    top: 50%;
    right:0%;
    transform: translatey(-50%);
    transition: all 1s;
}

.search-button-expanded{
    position: absolute;
    top: 50%;
    right: 180px;
    transform: translatey(-50%);
    transition: all 1s;
    
}

.search-button:hover{
    cursor: pointer;
}

.search-button-expanded:hover{
    cursor: pointer;
}

.search-input-invisible{
    position: absolute;
    width:0px;
    top: 50%;
    right: 0%;
    transform: translatey(-50%);
    transition: all 1s;
    background-color :rgba(0, 0, 0, 0);
    z-index: 0;
    border: 0;
}

.search-input{
    position: absolute;
    width: 160px;
    top: 50%;
    right: 20%;
    transform: translatey(-50%);
    transition: all 1s;
    background-color:rgba(0, 0, 0, 0.75);
    border: 0.5px solid white;
    border-radius: 0px;
    z-index: 5;
    color: white;
}



/*dropdown */

.dropdown-container{
    display:none;
    position: absolute;
    top: 50px;
    right: 120px;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 230px;
    transition: all 0.5s;
}
.dropdown-button{
    border-radius: 6px;
    width: 35px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translatey(-50%);
}

.dropdown-button:hover{
    cursor: pointer;
}

.dropdown-button-container:hover .dropdown-container{
    display: flex;
}

.dropdown-menu{
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 11;
    width: 150px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.75);
    border: 0.5px solid gray
}

.dropdown-logout{
    position: relative;
    top: 70px;
    border-top: 0.5px solid gray;
}

.dropdown-menu li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 10px;
}

.dropdown-menu a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.dropdown-menu .link-text:hover{
    text-decoration: underline;
}

.dropdown-menu .logout:hover{
    text-decoration: underline;
}


.link-text{
    margin-left: 10px;
}

.arrow-up {
    position: absolute;
    top: 20px;
    right: 23px;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
  }

  .dropdown-icon{
      font-size: 1vw;
      width: auto;
      top: 10px;
      text-decoration: none;
  }

  .dropdown-menu li .dropdown-icon:hover{
    text-decoration: none;
    }