.movie-index{
    background-color: #141414;
    padding-top: 80px;
    padding-left: 65px;
    height: 1200px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.movie-index h1{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 10px;
    
}

.movie-thumb{
    height: auto;
    width: 300px;
    border-radius: 4px;

}

.movie-thumb-row{
    display: flex;
    width:100%;
}
.movie-thumb-container{
    transition: transform 1s ;
    border-radius: 4px;
    margin: 2px;
}

.movie-thumb-container:hover{
    transform: scale(1.5);
    z-index: 2;
}

.movie-thumb-container-last{
    transition: transform 1s ;
    border-radius: 4px;
    margin: 2px;
}

.movie-thumb-container-last:hover{
    transform: scale(1.5) translate(-40px, 0px);
    z-index: 2;
}

.thumb-vid{
    height: auto;
    width: 300px;
    border-radius: 4px;
}

.big-video{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
}

.video-container{
    background-color: black;
    height: 100%;
    width: 100%;
}

.back{
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
    color: white;
    font-size: 40px;
}

.back:hover{
    cursor: pointer;
}